@mixin altoAncho($alto, $ancho){
    height: $alto;
    width: $ancho;
}
@mixin margen($arriba, $derecha, $abajo, $izquierda){
    margin-left: $izquierda;
    margin-right: $derecha;
    margin-top: $arriba;
    margin-bottom: $abajo;
}
@mixin borde($arriba, $derecha, $abajo, $izquierda, $color, $tipo, $radio){
    border-bottom: $abajo;
    border-top: $arriba;
    border-left: $izquierda;
    border-right: $derecha;
    border-color: $color;
    border-style: $tipo;
    border-radius: $radio;
}
@mixin pad($arriba, $derecha, $abajo, $izquierda){
    padding-top: $arriba;
    padding-right: $derecha;
    padding-bottom: $abajo;
    padding-left: $izquierda;
}