.texto-form{
    @extend %texto2;
    @include mobile{
        @include texto18;
    }
}
.texto-form1{
    @extend %texto2;
    color: $gris;
    @include mobile{
        @include texto18;
    }
}
.imgcontacto{
    background-image: url(../assets/imagenes/contacto.jpg) !important;
    height: 700px !important;
    @include mobile{
        @include altoAncho(2000px, 100%);
    }
}
.color-cont{
    position: relative;
    color: $blanco;
}