/* equipos */
.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.titulo-equipos{
  @include mobile{
    font-size: 50px !important;
  }
}
.img-conductor {
  @include altoAncho(auto, 80px);
  @extend %imagenCircular;
  @include margen(0, 0, 15px, 0);
}
.boca {
  background-image: url(../assets/imagenes/foto_boca.jpg) !important;
  @include mobile{
    background-image: url(../assets/imagenes/boca-mobile.jpg) !important;
  }
}
.river {
  background-image: url(../assets/imagenes/foto_river.jpg) !important;
  @include mobile{
    background-image: url(../assets/imagenes/river-mobile.jpg) !important;
  }
}
.independiente {
  background-image: url(../assets/imagenes/foto_independiente.jpg) !important;
  @include mobile{
    background-image: url(../assets/imagenes/independiente-mobile.jpg) !important;
  }
}
.racing {
  background-image: url(../assets/imagenes/foto_racing.jpg) !important;
  @include mobile{
    background-image: url(../assets/imagenes/racing-mobile.jpg) !important;
  }
}
.sanLorenzo {
  background-image: url(../assets/imagenes/foto_sanLorenzo.jpg) !important;
  @include mobile{
    background-image: url(../assets/imagenes/sanLorenzo-mobile.jpg) !important;
  }
}
.orden-conductores{
  display: flex;
  justify-content: space-between;  
  @include pad(0,10px,0,10px);
  @include mobile{
    justify-content: center;
  }
}
.estrellas{
    @include altoAncho(auto, 100px);
}
.barra{
  @include pad(0,10px,0,10px);
}
.texto-conductor{
  @extend %texto2;
  line-height: 2;
  @extend %texto18;
  color: $gris;
  @include mobile{
     @include centrarTexto;
     @include texto15;
  }
}