/* index */
body{
    background-color: $blanco;
}
.titulo{
    @extend %texto1;
    @extend %texto40;
    @extend %centradoHorizontal;
    color: $gris;
    @include mobile{
        @include centrarTexto;
        @include texto35;
    }
}
.texto{
    @extend %texto2;
    line-height: 2;
    @extend %texto20;
    @include pad(0, 20px, 0, 60px);
    @extend %centradoHorizontal;
    color: $gris;
    @include mobile{
        @include centrarTexto;
        @include texto18;
        @include pad(0,0,0,0);
    }
}
.carrousel{
    @include altoAncho(279px, 558px);
    @include margen(0, 0, 0, 48px);
    @include mobile{
        @include altoAncho(auto, 350px);
    }
}
.testimonios{
    @extend %centradoTotal;
    @include mobile{
        @extend %centradoTotal;
    }
}
#imagen_fondo{
    background-image: url(../assets/imagenes/mapaa.jpg);
    @extend %imagenFondo;
    height: 550px;
    @extend %centradoTotal;
}
#imagen_fondo:before {
    content: "";
    position: absolute;
    background-color: $gris;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
  }
#titulo-fondo{
    @extend %texto1;
    color: $blanco;
    @extend %texto100;
    position: relative;
    @include mobile{
        @include texto60;
        @include centrarTexto;
    }
}
.alto500{
    height: 500px;
    @include mobile{
        @include altoAncho(250px, 100%);
        
    }
}
.padding50{
    @include pad(50px, 50px, 50px, 50px);
    @include mobile{
        @include pad(0, 50px, 0, 50px);
    }
}
.centrar-texto{
    @extend %centrarTexto;
}
.space-ar{
    display: flex;
    justify-content: space-around;
    @include pad(0, 20px, 0, 20px);
}
.margen-inferior{
    @include margen(0, 0, 50px, 0);
    @include mobile{
        @include margen(0,0,30px,0);
    }
}
.centrar{
    @extend %centradoHorizontal;
}
.escudos-mobile{
    @include mobile{
        @include altoAncho(50px, auto);
    }
}
.franja{
    background-image: url(../../assets/imagenes/Franja.jpg);
    height: 350px;
    @include mobile{
        height: 200px;
    }
}